<style>
    .film-strip {
        height: 15px;
        background: repeating-linear-gradient(
            to right,
            #000 0px,
            #000 15px,
            #fff 15px,
            #fff 25px
        );
        border-top: 2px solid #000000;
        border-bottom: 2px solid #000000;
        margin: 0;
        padding: 0;
    }
</style>

<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #000000;">
    <div class="container-fluid px-0">
        <a class="navbar-brand ms-0 ps-3" href="/">
            <img src="https://i.postimg.cc/L54f8Qrf/movie-night-white.png" alt="MovieNight Logo" height="60">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" onclick="return randomMovie()">Random</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<script>
    function randomMovie() {
        var movieCode = Math.floor(Math.random() * 3499);  
        window.location.href = '/recommend/' + movieCode;
        return false;
    }
</script>

<!-- <div class="film-strip"></div> -->